
.container{
    display: grid;
    grid-template-rows: repeat(3,150px);
    grid-template-columns:repeat(4,150px) ;
    grid-gap: 1em;
    justify-content: center;
}

.item{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: var(--clr-light);
    font-weight: 700;
    font-size: 1.24rem;
}
.item1{
    background-color: red;
}
.item2{
    background-color: rgb(0, 174, 255);
    position: relative;
    top: 10px;
    right: 50px;
}
.item3{
    background-color: rgb(255, 238, 0);
}
.item4{
    background-color: rgb(255, 238, 0);
    position: sticky;
    top: 10px;
    right: 10px;
}
.item5{
    background-color: rgb(0, 38, 255);
}
.item6{
    background-color: rgb(225, 0, 255);
    position: absolute;
    top: 10px;
    left: 100px;
}
.item7{
    background-color: rgb(255, 136, 0);
}
.item8{
    background-color: rgb(195, 0, 255);
}
.item9{
    background-color: rgb(255, 0, 55);
}
.item10{
    background-color: rgb(255, 230, 0);
}
.item11{
    background-color: rgb(51, 255, 0);
}
.item12{
    background-color: rgb(0, 183, 255);
}