ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

body{
  text-align: center;
}
p.note{
  color: red;
}
li[value="3"]{
  color: green;
}
li[value="4"]{
  color: blue;
}
/* Write your CSS below, don't change the rules above. */
