@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body{
    background-color: black;

}

.main{
    text-align: center;
    padding: 90px;
}

.img{

    border: 2px white solid;
}
.text{
    color: white;
    font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

